<div class="container mt-4 py-3">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= form_with url: movies_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control me-1",
          placeholder: "Search through all movies..."
        %>
        <%= submit_tag "Search", class: "btn btn-search btn-danger" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container mb-5 pt-3">
  <div class="cards mt-5">
    <% @movies.each do |movie|%>
      <div class="card-movie">
        <%= image_tag movie.poster_url %>
        <div class="card-movie-infos my-3">
            <div class="d-flex row justify-content-between mb-3 mx-2">
              <h2 class="card-movie-title col-9"><%= movie.title %> (<%= movie.year %>)</h2>
              <div class="d-flex col-3">
                <i class="fa-solid fa-star" style="color: #FDDA0D;"></i>
                <h2 class="card-movie-rating ms-2"><%= movie.rating %></h2>
              </div>
            </div>
            <div class="mx-3 text-justify">
              <p class="js-excerpt excerpt-hidden" class="text-justify"><%= movie.overview %></p>
            </div>
            <a role="button" href="#" class="js-show-more show-more-btn mx-3 mt-1">Show more</a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container mt-5 pt-5">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
